.parentDiv{
    width: 80%;
    margin: auto;
    padding: 20px 10px;
    color: rgb(24, 23, 23);
    height: fit-content;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input{
    width: 300px;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 16px;
}

.current{
    border: 1px solid gray;
    height: fit-content;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    background: white;
}
.h2{
    margin-left: 100px;
    margin-bottom: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.forecastDiv{
    background: linear-gradient(skyblue, rgb(249, 249, 243));
    border: 1px solid gray;
    height: fit-content;
    border-radius: 8px;
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    padding: 6px 15px;
    display: flex;
    justify-content: space-between;
}

.city{
    color: red;
}